@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional GTA polish */
html,
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, sans-serif;
}
